footer {
	width: 100%;
	padding: 5vw 10vw;
	background: #efefef;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.upper {
		width: 100%;
		display: flex;

		margin-bottom: 50px;

		h1 {
			width: 30%;
			padding-right: 20px;
			img {
				width: 150px;
				filter: brightness(30);
			}
		}

		.left {
			width: 40%;

			display: flex;
			flex-direction: column;
			li {
				color: #555;
				font-size: 24px;
				font-weight: 600;
				cursor: pointer;
				margin-bottom: 10px;
				transition: 0.3s;

				&:hover {
					color: #efefef;
					text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
				}
			}
		}

		.right {
			width: 30%;

			display: flex;
			flex-direction: column;
			cursor: pointer;

			li {
				font-weight: 600;
				color: #666;
				letter-spacing: 1px;
				margin-bottom: 10px;
				padding-bottom: 5px;

				&::after {
					content: '';
					display: block;
					width: 0%;
					height: 1px;
					background: #888;
					margin-top: 5px;
					transition: 0.5s;
				}

				&:hover {
					&::after {
						width: 70%;
					}
				}
			}
		}
	}

	.lower {
		width: 100%;
		display: flex;
		align-items: flex-end;

		dl {
			width: 30%;
			dt {
				color: #666;
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 20px;
			}

			dd {
				width: 100px;
				cursor: pointer;

				&:hover {
					img {
						transform: scale(1.1);
					}
				}

				img {
					width: 100%;
					transition: 0.5s;
					opacity: 0.6;
				}
			}
		}

		p {
			width: 40%;
			color: #999;
			font-size: 14px;
		}

		.social {
			width: 30%;
			display: flex;
			gap: 15px;
			cursor: pointer;

			li {
				color: #444;

				&:hover {
					color: rgb(255, 181, 0);
				}
			}
		}
	}
}
