footer {
	width: 100%;
	font-family: 'Prompt', sans-serif;
	padding: 5vw 10vw;
	background-color: #eeedcc40;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.upper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		margin-bottom: 50px;

		h1 {
			width: 30%;
			padding-right: 20px;
			img {
				width: 130px;
				filter: brightness(3);
			}
		}

		.left {
			width: 40%;

			display: flex;
			flex-direction: column;
			li {
				color: #666;
				font-size: 24px;
				font-weight: 600;
				cursor: pointer;
				margin-bottom: 10px;
				transition: 0.3s;

				&:hover {
					color: #efefef;
					text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
				}
			}
		}

		.right {
			width: 30%;

			display: flex;
			flex-direction: column;
			cursor: pointer;

			li {
				font-weight: 600;
				color: #777;
				margin-bottom: 10px;
				padding-bottom: 5px;

				&::after {
					content: '';
					display: block;
					width: 0%;
					height: 1px;
					background: #888;
					margin-top: 5px;
					transition: 0.5s;
				}

				&:hover {
					&::after {
						width: 70%;
					}
				}
			}
		}
	}

	.lower {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;

		dl {
			width: 30%;
			dt {
				color: #666;
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 20px;
			}

			dd {
				width: 100px;
				cursor: pointer;

				&:hover {
					img {
						transform: scale(1.1);
					}
				}

				img {
					width: 100%;
					transition: 0.5s;
					opacity: 0.6;
				}
			}
		}

		p {
			width: 40%;
			color: #999;
			font-size: 14px;
		}

		.social {
			width: 30%;
			display: flex;
			gap: 15px;
			cursor: pointer;

			li {
				color: #444;
				transition: 0.3s;

				&:hover {
					color: rgb(255, 181, 0);
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		.upper {
			h1 {
				width: 35%;
			}

			.left {
				width: 35%;
			}
		}

		.lower {
			align-items: flex-start;
			justify-content: center;
			align-items: center;

			dl {
				width: 50%;
				order: 1;
			}

			p {
				width: 100%;
				order: 3;
				text-align: right;
				margin-top: 30px;
			}

			.social {
				justify-content: center;
				width: 50%;
				order: 2;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	footer {
		.upper {
			h1 {
				width: 100%;
				margin-bottom: 50px;
				text-align: center;
			}

			.left {
				width: 50%;
			}

			.right {
				width: 50%;
			}
		}
	}
}
