header {
	width: 100%;
	height: 50px;
	font-family: 'Prompt', sans-serif;
	border-bottom: 1px solid #b6a999;

	position: relative;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		height: 100%;
		padding: 0 5vw;
		transition: 0.5s;

		img {
			height: 35%;
			object-fit: cover;
			transition: 0.5s;
		}
	}

	#gnb {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
		padding-right: 10vw;

		li {
			a {
				color: #555;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 1px;
				text-shadow: -1px 0 #fffcf0, 0 1px #fffcf0, 1px 0 #fffcf0,
					0 -1px #fffcf0;
				border: 1px solid transparent;
				border-radius: 50%;
				padding: 10px;
				transition: 0.5s;
			}

			&:hover {
				a {
					border: 1px solid rgb(255, 181, 0);
					border-radius: 50%;
				}
			}
		}
	}

	.fa-face-smile {
		position: fixed;
		right: 0px;
		top: 0px;
		z-index: 2;
		font-size: 22px;
		background-color: #fffcf0;
		border-radius: 50%;
		padding: 7px;
		margin: 5px;
		transition: 1s;
		cursor: pointer;

		path {
			fill: rgb(255, 181, 0);
			transition: 0.3s;
		}

		&:hover {
			path {
				fill: #555;
			}
		}
	}

	.gnb_right {
		width: 50px;
		height: 100vh;
		border-left: 1px solid #b6a999;

		position: fixed;
		top: 0;
		right: 0;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		.social {
			width: 100%;
			border-top: 1px solid #b6a999;
			border-bottom: 1px solid #b6a999;
			li {
				color: #666;
				cursor: pointer;
				transition: 0.5s;
				padding: 10px;

				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					color: rgb(255, 181, 0);
				}
			}
		}
	}

	.mobile {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
		opacity: 0;
		transform: translateY(-1000px);
		transition: 1s;

		.logo_mo {
			display: block;
			width: 100%;
			height: 50px;
			background-color: #fffcf0;

			display: flex;
			justify-content: center;
			align-items: center;

			img {
				height: 35%;
			}
		}

		#gnb_mo {
			border-top: 1px solid rgb(255, 181, 0);
			border-bottom: 1px solid rgb(255, 181, 0);
			text-align: center;

			li {
				width: 100%;
				height: 50px;
				background-color: rgba(81, 80, 80, 0.9);
				border-top: 2px solid transparent;
				border-bottom: 2px solid transparent;
				padding: 40px;
				cursor: pointer;

				display: flex;
				align-items: center;

				a {
					display: block;
					width: 100%;
					color: #ddd;
					font-size: 32px;
					font-weight: 200;
					margin: 0 auto;
					transition: 0.5s;
					position: relative;

					&::after {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 40%;
						width: 0%;
						height: 2px;
						background-color: rgb(255, 181, 0);
						transition: 0.5s;
					}
				}

				&:hover {
					background-color: rgba(62, 62, 62, 0.9);
					box-shadow: -5px 0 rgba(0, 0, 0, 0.3);

					a {
						transform: translateX(50px);
						color: rgb(255, 181, 0);
						font-style: italic;

						&::after {
							width: 20%;
						}
					}
				}
			}
		}
	}

	.mobile.on {
		opacity: 1;
		transform: translateY(0);
	}
}

header.sub {
	border-bottom: 1px solid transparent;

	h1 {
		height: 100%;
		padding: 0 5vw;
		background-color: rgb(255, 181, 0);

		img {
			height: 35%;
			object-fit: cover;
			filter: invert(100%);
		}
	}

	#gnb {
		li {
			a {
				text-shadow: -1px 0 #efefef, 0 1px #efefef, 1px 0 #efefef,
					0 -1px #efefef;
			}
		}
	}

	.gnb_right {
		display: none;
	}
}

@media screen and (max-width: $desktop) {
	header {
		#gnb {
			display: none;
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		border-bottom: 1px solid transparent;

		h1 {
			width: 100%;
		}

		.fa-face-smile {
			background-color: #fffcf0;
			path {
				fill: rgb(255, 181, 0);
			}
		}

		.gnb_right {
			display: none;
		}

		.mobile {
			#gnb_mo {
				li {
					padding: 35px;
					a {
						font-size: 28px;

						&::after {
							left: 35%;
						}
					}

					&:hover {
						a {
							&::after {
								width: 30%;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	header {
		.mobile {
			#gnb_mo {
				li {
					padding: 30px;

					a {
						font-size: 24px;

						&::after {
							left: 30%;
						}
					}

					&:hover {
						a {
							&::after {
								width: 40%;
							}
						}
					}
				}
			}
		}
	}
}
