header {
	width: 100%;
	height: 50px;
	font-family: 'Prompt', sans-serif;
	border-bottom: 1px solid #b6a999;

	position: relative;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		height: 100%;
		padding: 0 5vw;
		background-color: rgb(255, 181, 0);

		img {
			height: 35%;
			object-fit: cover;
			filter: invert(100%);
		}
	}

	#gnb {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
		padding-right: 10vw;

		li {
			a {
				color: #555;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 1px;
				text-shadow: -1px 0 #fffcf0, 0 1px #fffcf0, 1px 0 #fffcf0,
					0 -1px #fffcf0;
				border: 1px solid transparent;
				border-radius: 50%;
				padding: 10px;
				transition: 0.5s;
			}

			&:hover {
				a {
					border: 1px solid rgb(255, 181, 0);
					border-radius: 50%;
				}
			}
		}
	}

	.fa-face-smile {
		position: fixed;
		right: 0px;
		top: 0px;
		z-index: 2;
		font-size: 22px;
		padding: 12px;
		transition: 1s;

		path {
			fill: rgb(255, 181, 0);
			stroke-width: 5px;
			stroke-dasharray: 2000;
			stroke-dashoffset: 2000;
			transition: 1s;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	.gnb_right {
		width: 50px;
		height: 100vh;
		border-left: 1px solid #b6a999;

		position: fixed;
		top: 0;
		right: 0;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		.social {
			width: 100%;
			border-top: 1px solid #b6a999;
			border-bottom: 1px solid #b6a999;
			li {
				color: #666;
				cursor: pointer;
				transition: 0.5s;
				padding: 10px;

				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					color: rgb(255, 181, 0);
				}
			}
		}
	}
}

header.sub {
	border-bottom: 1px solid transparent;

	#gnb {
		li {
			a {
				text-shadow: -1px 0 #efefef, 0 1px #efefef, 1px 0 #efefef,
					0 -1px #efefef;
			}
		}
	}
}
