.content {
	width: 100%;

	figure {
		width: 100%;
		height: 500px;
		background: #777;
		padding: 0 10vw;
		margin-right: 50px;
		opacity: 0;
		transition: 1.3s;

		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		align-items: center;

		h1 {
			color: #fff;
			font-size: 120px;
			font-family: 'Bodoni Moda', serif;
			font-style: italic;
			font-weight: 100;
			transform: translateY(180px);
			transition: all 0.7s, text-shadow 0.5s 0.5s;
			opacity: 0;
		}
	}
	.inner {
		width: 100%;
		min-height: 500px;
		transform: translateY(100px);
		padding: 10vw;
		margin-top: 500px;
		margin-right: 50px;
		transition: 1s;
	}
}

.content.on {
	figure {
		opacity: 1;

		h1 {
			text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2),
				5px 0 10px rgba(0, 0, 0, 0.2);
			transform: translateY(230px);
			opacity: 1;
		}
	}
	> .inner {
		transform: translateY(0px);
	}
}
