.content {
	width: 100%;

	figure {
		width: calc(100% - 50px);
		height: 500px;
		padding: 0 10vw;
		margin-right: 50px;
		background: #777;

		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		align-items: center;

		h1 {
			color: #fff;
			font-size: 100px;
			font-family: 'Bodoni Moda', serif;
			font-weight: 300;
			text-shadow: -3px 3px 8px rgba(0, 0, 0, 0.5), 3px 0 rgba(255, 181, 0, 0.7);
		}
	}
	.inner {
		width: calc(100% - 50px);
		min-height: 500px;
		padding: 10vw;
		margin-top: 500px;
		margin-right: 50px;
	}
}
