.scroll_nav {
	position: fixed;
	top: 50%;
	right: 22px;
	transform: rotateX(-50%);
	z-index: 3;

	li {
		width: 7px;
		height: 7px;
		border: 1px solid #999;
		border-radius: 5px;
		margin-bottom: 10px;
		transition: 0.5s;

		&.on {
			width: 7px;
			height: 100px;
			border: 1px solid $orange;
			background-color: $orange;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		}
	}
}
