#Intro {
	width: 100%;
	height: calc(100vh - 50px);
	margin-bottom: 100px;
	overflow-x: hidden;

	.inner {
		width: 100%;
		height: 100%;
		padding: 5vw;

		position: relative;

		h2 {
			width: 90%;
			font-size: 7vw;
			font-weight: 700;
			color: #333;

			position: absolute;
			bottom: 7vw;

			.title_first {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 30px;
				transform: translateX(-80px);
				opacity: 0;
				transition: 1s;

				.img {
					width: 40%;
					border-radius: 100px;
					height: 17vh;
					opacity: 0;
					transition: 1s 1s;

					&:hover {
						img {
							filter: grayscale(0);
						}
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 100px;
						filter: grayscale(1);
						transition: 1s;
					}
				}
			}

			.title_second {
				width: 100%;

				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 30px;
				transform: translateX(80px);
				opacity: 0;
				transition: 1s 0.2s;

				.img {
					width: 40%;
					border-radius: 100px;
					height: 17vh;
					opacity: 0;
					transition: 1s 1s;

					&:hover {
						img {
							filter: grayscale(0);
						}
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 100px;
						filter: grayscale(1);
						transition: 1s;
					}
				}
			}

			.title_last {
				display: inline-block;
				font-style: italic;
				color: $bg;
				text-shadow: -3px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
				transform: translateY(50px);
				opacity: 0;
				transition: 1s 0.5s;

				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 20px;
					background: $orange;
					position: absolute;
					bottom: 20%;
					opacity: 0;
					transition: 1s 1s;
					left: 0;
					z-index: -1;
				}
			}
		}

		.btn {
			width: 12.3vw;
			height: 6vw;
			font-size: 2.5vw;
			font-weight: 500;
			position: absolute;
			color: $orange;
			background: #fff;
			bottom: 6vw;
			right: 10vw;
			padding-left: 5px;
			border: 2px solid $orange;
			border-radius: 50%;
			cursor: pointer;
			transform: rotate(180deg) translateX(50px);
			opacity: 0;
			transition: 1s 0.5s;
			animation: blink 1.5s infinite forwards;
			animation-delay: 2s;

			display: flex;
			justify-content: center;
			align-items: center;

			@keyframes blink {
				0% {
					bottom: 3vw;
				}
				60% {
					bottom: 6vw;
				}
				100% {
					bottom: 3vw;
				}
			}

			&:hover {
				animation-play-state: paused;
			}

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border: 2px solid $orange;
				border-radius: 50%;

				position: absolute;
				bottom: 3px;
				right: -6px;
			}
		}
	}

	&.on {
		.inner {
			h2 {
				.title_first {
					transform: translateX(0);
					opacity: 1;

					.img {
						opacity: 1;
					}
				}

				.title_second {
					transform: translateX(0);
					opacity: 1;

					.img {
						opacity: 1;
					}
				}

				.title_last {
					transform: translateY(0);
					opacity: 1;

					&::after {
						opacity: 1;
					}
				}
			}

			.btn {
				transform: rotate(-25deg) translateX(0);
				opacity: 1;
			}
		}
	}
}
