#Intro {
	width: calc(100% - 50px);
	height: calc(100vh - 50px);
	margin-bottom: 100px;
	overflow: hidden;

	.inner {
		width: 100%;
		height: 100%;
		padding: 5vw;

		position: relative;

		h2 {
			width: 90%;
			font-size: 7vw;
			font-weight: 700;
			color: #333;

			position: absolute;
			bottom: 7vw;

			.title_first {
				display: inline-block;
				width: 100%;
				transform: translateX(-80px);
				opacity: 0;
				transition: 1s;
			}

			.title_second {
				display: inline-block;
				width: 100%;
				text-align: right;
				font-family: 'Bodoni Moda', serif;
				transform: translateX(80px);
				opacity: 0;
				transition: 1s 0.2s;
				padding-right: 10vw;
			}

			.title_last {
				display: inline-block;
				font-style: italic;
				color: $bg;
				text-shadow: -3px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
				transform: translateY(50px);
				opacity: 0;
				transition: 1s 0.5s;

				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 20px;
					background: $orange;
					position: absolute;
					bottom: 20%;
					opacity: 0;
					transition: 1s 1s;
					left: 0;
					z-index: -1;
				}
			}
		}

		.img_first {
			width: 40%;
			height: 17vh;
			border-radius: 100px;
			opacity: 1;
			transition: 1s;

			position: absolute;
			bottom: 29vw;
			left: 45%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 100px;
				transition: 1s;
			}
		}

		.img_second {
			width: 40%;
			height: 17vh;
			border-radius: 100px;
			opacity: 1;
			transition: 1s;
			margin-left: 5vw;

			position: absolute;
			bottom: 17vw;
			left: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 100px;
				transition: 1s;
			}
		}

		.btn {
			width: 12.3vw;
			height: 6vw;
			font-family: 'Bodoni Moda', serif;
			font-size: 2.2vw;
			font-weight: 500;
			color: $orange;
			background: #fff;
			position: absolute;
			bottom: 6vw;
			right: 10vw;
			z-index: 2;
			padding-left: 5px;
			border: 2px solid $orange;
			border-radius: 50%;
			cursor: pointer;
			transform: rotate(180deg) translateX(50px);
			opacity: 0;
			transition: 1s 0.5s;
			animation: blink 1.5s infinite forwards;
			animation-delay: 2s;

			display: flex;
			justify-content: center;
			align-items: center;

			@keyframes blink {
				0% {
					bottom: 3vw;
				}
				60% {
					bottom: 6vw;
				}
				100% {
					bottom: 3vw;
				}
			}

			&:hover {
				animation-play-state: paused;
			}

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border: 2px solid $orange;
				border-radius: 50%;

				position: absolute;
				bottom: 3px;
				right: -6px;
			}
		}
	}

	&.on {
		.inner {
			h2 {
				.title_first {
					transform: translateX(0);
					opacity: 1;
				}

				.title_second {
					transform: translateX(0);
					opacity: 1;
				}

				.title_last {
					transform: translateY(0);
					opacity: 1;

					&::after {
						opacity: 1;
					}
				}
			}

			.btn {
				transform: rotate(-25deg) translateX(0);
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: $desktop) {
	#Intro {
		.inner {
			h2 {
				bottom: 15vw;

				.title_first {
					margin-bottom: 50px;
				}

				.title_second {
					margin-bottom: 50px;
				}
			}

			.img_first {
				bottom: 47vw;
			}

			.img_second {
				bottom: 29vw;
			}

			.btn {
				border: 1px solid $orange;

				&::after {
					border: 1px solid $orange;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#Intro {
		width: 100%;
		height: 100vh;
		.inner {
			padding: 50px 5vw 0;
			h2 {
				width: 90%;
				font-size: 10vw;
				font-weight: 700;
				color: #333;

				position: relative;
				top: 20%;

				.title_second {
					padding-right: 0;
					margin-bottom: 30px;
				}

				.title_last {
					&::after {
						content: '';
						display: block;
						width: 80%;
						height: 20px;
						background: $orange;
						position: absolute;
						bottom: 10%;
						opacity: 0;
						transition: 1s 1s;
						left: -10px;
						z-index: -1;
					}
				}
			}

			.img_first {
				top: 20%;
				z-index: -1;
			}

			.img_second {
				top: 40%;
				z-index: -1;
			}

			.btn {
				width: 100px;
				height: 50px;
				font-size: 18px;
				bottom: 15%;

				@keyframes blink {
					0% {
						bottom: 15%;
					}
					60% {
						bottom: 13%;
					}
					100% {
						bottom: 15%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#Intro {
		width: 100%;
		height: 75vh;
		margin-bottom: 50px;

		.inner {
			h2 {
				width: 90%;
				font-size: 10vw;
				top: 13%;

				.title_first {
					margin-top: 20px;
					margin-bottom: 40px;
				}

				.title_second {
					margin-top: 20px;
					margin-bottom: 40px;
				}

				.title_last {
					font-size: 12vw;
					&::after {
						width: 90%;
					}
				}
			}

			.btn {
				width: 90px;
				height: 45px;
				font-size: 16px;
				font-weight: 300;
				bottom: 10%;
				right: 10px;

				@keyframes blink {
					0% {
						bottom: 10%;
					}
					60% {
						bottom: 8%;
					}
					100% {
						bottom: 10%;
					}
				}
			}
		}
	}
}
