#Vids {
	width: 100%;
	height: 100vh;
	margin-top: 200px;

	position: relative;

	.swiper {
		height: 100%;
		padding: 5vw;

		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
			.inner {
				width: 100%;
				opacity: 0.5;
				transform: scale(0.8);

				.pic {
					width: 100%;
					padding: 10px;

					img {
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
				}

				h3 {
					text-align: center;
				}
			}
		}

		.swiper-button-prev {
			position: absolute;
			left: 5vw;
			z-index: 3;
			color: $orange;
			transform: scale(0.7);
		}

		.swiper-button-next {
			position: absolute;
			right: 5vw;
			z-index: 3;
			color: $orange;
			transform: scale(0.7);
		}

		.swiper-slide-prev {
			.inner {
				h3 {
					display: none;
				}
			}
		}

		.swiper-slide-next {
			.inner {
				h3 {
					display: none;
				}
			}
		}

		.swiper-slide-active {
			.inner {
				opacity: 1;
				transform: scale(1.2);
			}
		}
	}
}
