#Visual {
	width: calc(100% - 50px);
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #222;

	display: flex;
	align-items: center;

	&.on {
		video {
			opacity: 1;
			transform: scale(1);
		}
	}

	video {
		width: 100%;
		object-fit: cover;
		opacity: 0;
		transform: scale(0);
		transition: 1s;

		position: relative;
	}
}
