.Community {
	font-family: 'Prompt', sans-serif;
	.inner {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		.input_box {
			width: 50%;
			border: 1px solid #fff;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
			padding: 30px 50px;
			margin-bottom: 100px;

			input,
			textarea {
				width: 100%;
				border: none;
				font-family: 'Bodoni Moda', serif;
				font-style: italic;
				background-color: transparent;
				border-bottom: 1px solid #999;
				margin-bottom: 30px;
				color: #777;
				padding: 10px;
				font-size: 20px;
				font-weight: 100;
				resize: none;

				&::placeholder {
					color: #999;
					font-size: 16px;
				}

				&:focus,
				&:active {
					border: 1px solid $orange;
					outline: none;
				}
			}

			textarea {
				font-family: 'Prompt', sans-serif;
				font-weight: 200;
				font-size: 16px;
				border: 1px solid #999;
			}

			.btns {
				display: flex;
				justify-content: flex-end;

				button {
					background-color: transparent;
					border: none;
					width: 60px;
					height: 30px;
					cursor: pointer;

					.fa-pen,
					.fa-xmark {
						font-size: 20px;
						color: #777;
					}
				}
			}
		}

		.show_box {
			width: 100%;
			display: flex;
			flex-wrap: wrap;

			article {
				width: calc(100% / 3 - 20px);
				position: relative;
				border-top: 2px solid $orange;
				border-right: 1px solid #efefef;
				// border-radius: 20px;
				padding: 20px;
				margin: 10px;
				margin-bottom: 50px;
				transition: 0.5s;

				&:hover {
					border: 1px solid transparent;
					background-color: rgba(255, 181, 0, 0.8);
					// background-color: rgba(0, 0, 0, 0.8);
					box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
					transform: translateY(-10px);

					h3 {
						color: #fff;
					}

					p {
						color: $orange;
						box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
						transform: translateX(-20px) scale(1.1);
					}

					.btns {
						button {
							color: #555;
							border-bottom: 2px solid #fff;
						}
					}
				}

				h3 {
					font-size: 24px;
					font-weight: 100;
					font-style: italic;
					font-family: 'Bodoni Moda', serif;
					color: #666;
					margin-bottom: 30px;
					transition: 0.5s;
				}

				p {
					color: $orange;
					padding: 30px;
					background-color: #fff;
					color: #888;
					font-weight: 300;
					border-radius: 10px;
					word-break: break-all;
					margin-bottom: 70px;

					transition: 0.5s;
				}

				.btns {
					position: absolute;
					z-index: 3;
					bottom: 20px;
					right: 20px;
					display: flex;
					justify-content: flex-end;
					gap: 10px;

					button {
						width: 70px;
						height: 30px;
						cursor: pointer;
						font-family: 'Bodoni Moda', serif;
						color: #777;
						font-style: italic;
						font-size: 16px;
						// border-radius: 50px;
						border: none;
						border-bottom: 2px solid $orange;
						background-color: transparent;
						transition: 0.5s;

						&:hover {
							color: #fff;
							border-bottom: 2px solid #fff;
							transform: scale(1.1);
						}
					}
				}

				.editText {
					input,
					textarea {
						width: 100%;
						background: #f2f1f1;
						border-radius: 10px;
						border: none;
						resize: none;
						word-break: break-all;
						padding: 20px;
						transition: 0.5s;

						&:focus,
						&:active {
							outline: none;
							border: 1px solid $orange;
						}
					}

					input {
						height: 100px;
						font-size: 16px;
						font-weight: 100;
						font-style: italic;
						font-family: 'Bodoni Moda', serif;
						font-size: 20px;
						color: #666;
						padding: 10px;
						margin-bottom: 20px;
					}

					textarea {
						height: 150px;
						font-family: 'Prompt', sans-serif;
						font-size: 16px;
						color: #777;
						font-weight: 300;
						margin-bottom: 70px;
						transition: 0.5s;
					}
				}
			}
		}
	}
}
