.Community {
	font-family: 'Prompt', sans-serif;
	.inner {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		.title {
			width: 100%;
			position: relative;
			top: 50px;

			&:hover {
				.line {
					width: 350px;
					transform: translateX(100px);

					&::before,
					&::after {
						width: 80px;
						opacity: 1;
					}
				}
			}

			h2 {
				width: 50%;
				font-size: 90px;
				color: rgba(255, 181, 0, 0.8);
			}

			.line {
				width: 300px;
				height: 12px;
				border-radius: 5px;
				background-color: rgba(255, 181, 0, 0.8);
				position: absolute;
				bottom: -70px;
				left: 0;
				transition: 1s;

				&::before {
					content: '';
					display: block;
					width: 0px;
					height: 12px;
					border-radius: 5px;
					background-color: rgba(255, 181, 0, 0.8);
					transform: rotate(-45deg);
					position: absolute;
					bottom: -25px;
					right: -15px;
					opacity: 0;
					transition: 1s;
				}

				&::after {
					content: '';
					display: block;
					width: 0px;
					height: 12px;
					border-radius: 5px;
					background-color: rgba(255, 181, 0, 0.8);
					transform: rotate(45deg);
					position: absolute;
					bottom: 25px;
					right: -15px;
					opacity: 0;
					transition: 1s;
				}
			}
		}

		.input_box {
			width: 50%;
			border: 1px solid #fff;
			background-color: #fff;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
			padding: 30px 50px;
			margin-left: 50%;
			margin-bottom: 100px;

			transition: 0.7s;

			&:hover {
				transform: scale(1.02);
			}

			input,
			textarea {
				width: 100%;
				border: none;
				font-family: 'Bodoni Moda', serif;
				font-style: italic;
				background-color: transparent;
				border-bottom: 1px solid #999;
				margin-bottom: 30px;
				color: #777;
				padding: 10px;
				font-size: 20px;
				font-weight: 100;
				resize: none;

				&::placeholder {
					color: #888;
					font-size: 16px;
				}

				&:focus,
				&:active {
					border: 1px solid $orange;
					outline: none;
				}
			}

			textarea {
				font-family: 'Prompt', sans-serif;
				font-weight: 200;
				font-size: 16px;
				border: 1px solid #999;
			}

			.btns {
				display: flex;
				justify-content: flex-end;

				button {
					background-color: transparent;
					border: none;
					width: 60px;
					height: 30px;
					font-size: 20px;
					color: #777;
					cursor: pointer;
					transition: 0.5s;

					&:hover {
						color: #444;
						transform: scale(1.05);
					}
				}
			}
		}

		.show_box {
			width: 100%;
			display: flex;
			flex-wrap: wrap;

			article {
				width: calc(100% / 3 - 20px);
				position: relative;
				padding: 20px;
				margin: 10px;
				margin-bottom: 50px;
				transition: 0.5s;

				border: 1px solid #999;

				&:hover {
					border: 1px solid transparent;
					background-color: rgba(255, 181, 0, 0.8);
					box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
					transform: translateY(-10px);

					h3 {
						color: #fff;
						border-bottom: 1px solid #fff;
					}

					p {
						color: #fff;
					}

					.btns {
						button {
							color: #555;
							border-bottom: 2px solid #fff;
						}
					}
				}

				h3 {
					font-size: 24px;
					font-weight: 100;
					font-style: italic;
					font-family: 'Bodoni Moda', serif;
					border-bottom: 1px solid #999;
					color: #555;
					margin-bottom: 30px;
					padding-bottom: 15px;
					transition: 0.5s;
				}

				p {
					color: $orange;
					padding: 10px;
					color: #777;
					font-weight: 300;
					border-radius: 10px;
					word-break: break-all;
					margin-bottom: 70px;

					transition: 0.5s;
				}

				.btns {
					position: absolute;
					bottom: 20px;
					right: 20px;
					display: flex;
					justify-content: flex-end;
					gap: 10px;

					button {
						width: 70px;
						height: 30px;
						cursor: pointer;
						font-family: 'Bodoni Moda', serif;
						color: #444;
						font-style: italic;
						font-size: 14px;
						border: none;
						border: 2px solid transparent;
						border-bottom: 2px solid $orange;
						background-color: transparent;
						transition: 0.5s;

						&:hover {
							color: #fff;
							border: 2px solid #fff;
							transform: scale(1.05);
						}
					}
				}

				.editText {
					input,
					textarea {
						width: 100%;
						background: #fffcf0;
						border: 1px solid $orange;
						border-radius: 10px;
						resize: none;
						word-break: break-all;
						padding: 20px;
						transition: 0.5s;

						&:focus,
						&:active {
							outline: none;
							border: 1px solid $orange;
						}
					}

					input {
						height: 60px;
						font-size: 16px;
						font-weight: 100;
						font-style: italic;
						font-family: 'Bodoni Moda', serif;
						font-size: 20px;
						color: #555;
						padding: 10px;
						margin-bottom: 20px;
					}

					textarea {
						height: 90px;
						font-family: 'Prompt', sans-serif;
						font-size: 16px;
						color: #777;
						font-weight: 300;
						margin-bottom: 70px;
						transition: 0.5s;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $desktop) {
	.Community {
		.inner {
			.title {
				&:hover {
					.line {
						width: 200px;
						transform: translateX(70px);

						&::before,
						&::after {
							width: 50px;
						}
					}
				}

				h2 {
					font-size: 6vw;
				}

				.line {
					width: 100px;
					height: 8px;

					&::before {
						height: 8px;
						border-radius: 5px;
						bottom: -15px;
						right: -10px;
					}

					&::after {
						height: 8px;
						border-radius: 5px;
						bottom: 15px;
						right: -10px;
					}
				}
			}

			.input_box {
				padding: 30px;
			}

			.show_box {
				article {
					width: calc(100% / 2 - 20px);
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Community {
		.inner {
			.title {
				width: 100%;
				top: 0;
				margin: 50px 0 100px;

				&:hover {
					.line {
						width: 50vw;
						transform: translateX(0);
					}
				}

				h2 {
					width: 100%;
					font-size: 9vw;
				}

				.line {
					width: 30vw;
					bottom: -20px;

					&::before,
					&::after {
						display: none;
					}
				}
			}

			.input_box {
				width: 100%;
				margin-left: 10vw;
				margin-right: 10vw;
			}

			.show_box {
				article {
					width: calc(100% / 2 - 20px);
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Community {
		margin-bottom: 100px;
		.inner {
			.title {
				&:hover {
					.line {
						width: 40vw;
					}
				}

				.line {
					height: 5px;
				}
			}

			.input_box {
				margin-left: 10px;
				margin-right: 10px;

				input,
				textarea {
					font-size: 16px;
					font-weight: 400;
				}
			}

			.show_box {
				article {
					width: 100%;
					margin-bottom: 10px;

					&:hover {
						transform: translateY(0);
					}

					.txt {
						h3 {
							font-size: 20px;
							margin-bottom: 20px;
						}

						p {
							margin-bottom: 50px;
						}
					}
				}
			}
		}
	}
}
