.Gallery {
	font-family: 'Prompt', sans-serif;

	.inner {
		padding: 100px 0;
		margin-bottom: 100px;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.title {
			width: 100%;
			padding: 0 10vw;
			margin-bottom: 100px;

			h2 {
				width: 50%;
				color: rgba(255, 181, 0, 0.8);
				font-size: 90px;
			}
		}

		.search {
			width: 400px;
			border-bottom: 1px solid #555;
			margin-bottom: 100px;
			padding: 10px 0;
			transition: 0.5s;

			&:hover {
				width: 500px;
				border-bottom: 1px solid $orange;

				button {
					border: 1px solid $orange;
				}
			}

			input {
				width: 90%;
				height: 40px;
				font: 100 22px/1 'Bodoni Moda';
				font-style: italic;
				color: #555;
				background: transparent;
				border: none;
				padding: 10px;

				&::placeholder {
					color: rgb(204, 203, 203);
					font-size: 22px;
				}

				&:active,
				&:focus {
					border: none;
					outline: none;
				}
			}

			button {
				width: 40px;
				height: 40px;
				background: transparent;
				border-radius: 50%;
				border: 1px solid #555;
				transform: rotate(45deg);
				transition: 0.5s;
				cursor: pointer;

				&:hover {
					color: $orange;
					transform: rotate(405deg);
				}
			}
		}

		.btns {
			width: 100%;
			margin-top: 50px;
			padding: 0 30px;

			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-items: flex-end;
			gap: 10px;

			button {
				width: 150px;
				height: 70px;
				border: none;
				color: #999;
				background: transparent;
				text-align: center;
				font: 500 24px/1 'Prompt';
				cursor: pointer;
				border-radius: 50%;
				transition: 0.5s;

				position: relative;
				z-index: 2;

				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background: transparent;
					border: 1px solid transparent;
					border-radius: 50%;

					position: absolute;
					bottom: 2px;
					right: -6px;
					z-index: -1;
					transition: 0.2s 0.1s;
				}

				&:hover {
					color: $orange;
				}

				&.on {
					border: 1px solid $orange;
					color: $orange;

					&::after {
						border: 1px solid $orange;
					}
				}
			}
		}

		.loading {
			position: absolute;
			top: 0;
			left: 50%;
			padding-top: 800px;
			transform: translateX(-50%);
		}

		.frame {
			width: 100%;
			transform: translateY(200px);
			padding: 50px 10px;
			transition: 0.5s;
			opacity: 0;

			&.on {
				transform: translateY(0px);
				opacity: 1;
			}

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			article {
				width: calc(100% / 4);
				float: left;
				padding: 10px;

				.pic_inner {
					width: 100%;
					position: relative;
					border: 1px solid #666;
					padding: 20px;
					transition: 0.5s;

					&:hover {
						transform: translateY(-10px);
						background: #fff;
						box-shadow: 10px 10px 0 $orange;
					}

					.pic {
						width: 100%;
						border-bottom: 1px solid #666;
						padding-bottom: 10px;
						margin: 0 auto;
						margin-bottom: 10px;
						cursor: pointer;
						position: relative;

						&:hover {
							img {
								filter: grayscale(0.5);
							}
							.cover {
								opacity: 1;
							}
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: 0.5s;
						}

						.cover {
							width: 100%;
							height: calc(100% - 16px);
							color: #fff;
							background: rgba(0, 0, 0, 0.4);
							font: 200 22px/1 'Prompt';
							display: flex;
							justify-content: center;
							align-items: center;
							position: absolute;
							top: 0;
							left: 0;
							opacity: 0;
							transition: 0.7s;
						}
					}

					h3 {
						font: 200 18px/1 'Bodoni Moda';
						font-style: italic;
						color: #555;
						text-transform: capitalize;
						text-align: right;
						padding: 0 10px;
						transition: 0.5s;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $desktop) {
	.Gallery {
		.inner {
			.title {
				h2 {
					width: 60%;
					font-size: 9vw;
				}
			}

			.btns {
				button {
					width: 140px;
					height: 60px;
				}
			}

			.loading {
				transform: translateX(-50%) scale(0.9);
			}
			.frame {
				article {
					width: calc(100% / 3);
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Gallery {
		.inner {
			padding-top: 150px;
			.title {
				h2 {
					width: 60%;
					font-size: 9vw;
				}
			}

			.search {
				width: 300px;

				&:hover {
					width: 400px;
				}

				input {
					width: 85%;
				}
			}

			.btns {
				margin-top: 20px;
				button {
					width: 120px;
					height: 60px;
					font: 500 20px/1 'Prompt';
				}
			}

			.loading {
				padding-top: 600px;
				transform: translateX(-50%) scale(0.8);
			}

			.frame {
				article {
					width: calc(100% / 2);

					.pic_inner {
						h3 {
							font: 200 18px/1 'Bodoni Moda';
							font-style: italic;
							color: #555;
							text-transform: capitalize;
							text-align: right;
							padding: 0 10px;
							transition: 0.5s;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Gallery {
		.inner {
			padding-top: 100px;
			.title {
				margin-bottom: 50px;
				h2 {
					width: 100%;
					font-size: 9vw;
				}
			}

			.search {
				width: 200px;
				margin-bottom: 50px;

				&:hover {
					width: 250px;
				}

				input {
					width: 80%;
					font-size: 18px;
				}

				button {
					width: 35px;
					height: 35px;
				}
			}

			.btns {
				width: 100%;
				margin-top: 20px;

				justify-content: center;

				button {
					width: calc(100% / 3 - 10px);
					height: 50px;
					font: 500 16px/1 'Prompt';
				}
			}

			.loading {
				padding-top: 300px;
				transform: translateX(-50%) scale(0.6);
			}

			.frame {
				article {
					width: 100%;

					.pic_inner {
						&:hover {
							transform: translateY(0);
							background: #fff;
							box-shadow: 10px 10px 0 $orange;
						}

						h3 {
							font: 200 16px/1 'Bodoni Moda';
							font-style: italic;
							color: #555;
							text-transform: capitalize;
							text-align: right;
							padding: 0 10px;
							transition: 0.5s;
						}
					}
				}
			}
		}
	}
}
